html, body {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

.home {
  position: relative;
  border-top: 1px solid transparent;
  background: #222;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home .logo {
  font-weight: normal;
  font-size: 24px;
  color: #fff;
}

.home .logo:hover, .home .logo:active, .home .logo:visited {
  text-decoration: none;
  color: #fff;
}

.home .fork-me-on-github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.home h1 {
  font-size: 48px;
  margin-top: 40px;
  font-weight: lighter;
}

.home h2 {
  font-weight: lighter;
  color: #a7a7a7;
  line-height: 1.5em;
  font-size: 18px;
  max-width: 770px;
  display: inline-block;
  padding-bottom: 30px;
}

.home .actions-wrapper {
  margin-top: 20px;
}

.home button {
  /*position: absolute;*/
  /*bottom: -20px;*/
  /*left: 50%;*/
  /*width: 140px;*/
  /*margin-left: -70px;*/
  /*z-index: 1;*/
}

.ready-to-start {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ready-to-start h2 {
  font-weight: lighter;
  font-size: 40px;
  max-width: 770px;
  margin: 0 auto 30px auto;
}

.ready-to-start p {
  display: block;
  max-width: 850px;
  margin: 0 auto;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 18px;
}

.action-wrapper {
  text-align: left;
  position: relative;
  background-color: #fff;
  margin: 0 0 70px 0px;
  padding: 40px 40px 40px 60px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.action-wrapper:after {
  width: 58px;
  height: 58px;
  line-height: 58px;
  background-color: #327fc7;
  border-radius: 200px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: -15px;
  top: -15px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  z-index: 100;
}

.action-wrapper.first-action:after {
  content: '1';
}

.action-wrapper.second-action:after {
  content: '2';
}

.action-wrapper.third-action:after {
  content: '3';
}

.action-wrapper.forth-action:after {
  content: '4';
}

.action-wrapper p {
  font-weight: lighter;
}

.plugin-version-switcher {
  padding-bottom: 30px;
  display: inline-block;
}

.image-wrapper img {
  width: 100%;
}

.features {
  background: #fff;
}

#image {
  cursor: pointer;
  transition: opacity 0.4s;
  opacity: 1;
}

#image:hover {
  opacity: 0.6;
}

.spinner-grow.text-dark {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.wrapper {
  transition: 0.3s all;
  opacity: 0;
}

.wrapper.active {
  visibility: visible !important;
  opacity: 1 !important;
}

#edit-btn {
  position: relative;
}

.arrow {
  background: url('https://scaleflex.airstore.io/filerobot/assets/arrow_1.png') 50% 50% / contain no-repeat;
  width: 100px;
  height: 250px;
  position: absolute;
  top: -33px;
  left: -50px;
}

.modal-body .image-wrapper {
  text-align: center;
}

.modal-body .image-wrapper .result-image {
  width: auto;
  max-width: 100%;
  display: inline-block;
  max-height: 300px;
}

footer {
  background: #fff;
  padding-bottom: 60px;
}
