* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  overflow-x: hidden;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1170px;
  margin: 0 auto;
}

.content-wrapper {
  padding: 23px 25px 60px 24px;
}

.content-wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrapper .header .header-logo {
  display: flex;
  align-items: center;
  color: #203254;
}

.content-wrapper .header .header-logo img {
  border-right: 1px solid #b8c4d0;
  padding-right: 1em;
  margin-right: 1em;
}

.content-wrapper .header .img-editor {
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  color: #203254;
}

.content-wrapper .header .navbar {
  display: flex;
  align-items: center;
}

.content-wrapper .header .stars {
  border: 1px solid #5d6d7e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  height: 41px;
  width: 113px;
}

.content-wrapper .header .stars img {
  margin-right: 4px;
}

.content-wrapper .header .stars .star {
  width: 16px;
  height: 16px;
}

.content-wrapper .header .stars span {
  background-color: #f1f8ff;
  margin-left: 0.375em;
}

.content-wrapper .header .git-hub {
  border: 1px solid #5d6d7e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 6px 21px;
  font-size: 0.875em;
  margin-left: 0.625em;
  text-decoration: none;
  cursor: pointer;
  color: #5d6d7e;
  width: 101.53px;
  height: 41px;
}

.content-wrapper .header .git-hub img {
  width: 14.53px;
  height: 16px;
  margin-right: 4px;
}

.content-wrapper .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.content-wrapper .content .content-title {
  margin-top: 57.5px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #203254;
  z-index: 99;
  max-width: 540px;
  text-align: center;
}

.content-wrapper .content .cyan-blur-ellipse {
  position: absolute;
  width: 222px;
  height: 307px;
  right: -24px;
  top: 142px;
  background-color: #ced4fd;
  filter: blur(150px);
  z-index: -1;
}

.content-wrapper .content .blue-blur-ellipse {
  position: absolute;
  width: 232px;
  height: 307px;
  right: 0;
  top: 142px;
  background-color: #ced4fd;
  filter: blur(120px);
  z-index: -1;
}

.content-wrapper .content .cyan-blur-ellipse {
  position: absolute;
  width: 118px;
  height: 418px;
  left: -23px;
  top: 465px;
  background-color: #90eee7;
  filter: blur(150px);
  z-index: -1;
}

.content-wrapper .content .content-title .colored-text {
  color: #3daba4;
}

.content-wrapper .content .content-text {
  margin-top: 12px;
  font-weight: 400;
  color: #4d5c74;
  font-size: 1.25em;
  line-height: 30px;
  z-index: 99;
}

.content-wrapper .content .content-text p {
  font-size: 20px;
  line-height: 30px;
  color: #4d5c74;
  text-align: center;
  margin-top: 12px;
}

.content-wrapper .content .view-button {
  display: flex;
  width: 328px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  position: relative;
}

.content-wrapper .content .view-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 48px;
  background-color: #3daba4;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffff;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.content-wrapper .content .view-button button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 171px;
  height: 48px;
  padding: 8px 24px;
  background-color: #3daba4;
  border-radius: 4px;
  line-height: 32px;
  color: #ffff;
  cursor: pointer;
  border: none;
}

.content-wrapper .content .view-button button a {
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
}

.content-wrapper .content .view-button P {
  display: flex;
  align-items: center;
  color: #6879eb;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  width: 147px;
  height: 48px;
}

.content-wrapper .content .view-button img {
  position: absolute;
  left: 320px;
  top: 9px;
}

.content-wrapper .content .img-table {
  margin-top: 32px;
  display: flex;
  z-index: 99;
  width: 970px;
  column-gap: 30px;
}

.content-wrapper .content .img-table h4 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  width: 126px;
}

.content-wrapper .img-table .config-table {
  background-color: #f9fafc;
  padding: 16px 7.55px 50px 16px;
  width: 255px;
  max-height: 499px;
  height: 499px;
}

.content-wrapper .img-table .config-table h4 {
  font-size: 14px;
  line-height: 21px;
  color: #4d5c74;
  margin-bottom: 4px;
  font-weight: 400;
}

.content-wrapper .img-table .config-table input {
  width: 15px;
  height: 15px;
  border: 1px solid #dfe1ec;
}

.content-wrapper .img-table .config-table h5 {
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  color: #4d5c74;
  margin-bottom: 9px;
  font-weight: 400;
}

.content-wrapper .img-table .config-table .img-container {
  display: flex;
  column-gap: 8px;
}

.content-wrapper .img-table .config-table .uploaded-imgs-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
  column-gap: 6px;
  max-width: 170px;
  max-height: 106px;
  overflow-y: scroll;
  scrollbar-color: #dfe1ec #fff;
  scrollbar-width: thin;
}
.content-wrapper .config-table .uploaded-imgs-wrapper::-webkit-scrollbar {
  width: 5px;
  color: #dfe1ec;
}

.content-wrapper .config-table .uploaded-imgs-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f9fafc;
}

.content-wrapper .config-table .uploaded-imgs-wrapper::-webkit-scrollbar-thumb {
  background-color: #dfe1ec;
  border-radius: 4px;
  height: 50px;
}

.content-wrapper .img-table .config-table .uploaded-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 2px solid #ffff;
  border-radius: 4px;
  cursor: pointer;
}

.content-wrapper .img-table .config-table .default-uploaded-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

.content-wrapper
  .config-table
  .uploaded-img[data-image-editor-active-image=""] {
  border: 2px solid #3daba4;
  transition: border 250ms ease-in-out;
}

.content-wrapper .img-table .config-table .add-img {
  width: 50px;
  height: 50px;
  border: 1px solid #dfe1ec;
  background-color: #ffff;
  border-radius: 4px;
  background: url("./assets/adding-icon.png") center center;
  background-repeat: no-repeat;
  padding-top: 49px;
  cursor: pointer;
}

.content-wrapper .img-table .config-table .output-img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: none;
}

.content-wrapper .img-table .config-table .pluse-icon {
  display: flex;
  cursor: pointer;
  width: 11px;
  height: 11px;
  color: #4d5c74;
}

.content-wrapper .img-table .tools-checkboxs {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 17px;
  color: #203254;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 21px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffff;
  border: 1px solid #dfe1ec;
}

/* When the checkbox is checked */
.checkbox-container input:checked ~ .checkmark {
  background-color: #ffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 1px;
  top: 3px;
  width: 13px;
  height: 10px;
  background-image: url("./assets/check-icon.png");
  background-repeat: no-repeat;
}

.content-wrapper .tools-checkboxs label {
  font-size: 14px;
  line-height: 17px;
  color: #203254;
  font-weight: 400;
}

.content-wrapper .img-table .mode-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content-wrapper .img-table .mode-content h4 {
  margin-bottom: 8px;
}

.content-wrapper .img-table .mode-content select {
  border: 1px solid #dfe1ec;
  height: 40px;
  padding: 8px 14px;
  font-size: 14px;
  line-height: 24px;
  color: #203254;
  width: 231.45px;
  -webkit-appearance: none;
  background-image: url("./assets/arrow-icon.png");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: calc(20px - (8px / 2));
}

.content-wrapper .img-table .mode-content .mode-options {
  font-size: 14px;
  line-height: 24px;
  color: #203254;
  padding: 10px;
}

.content-wrapper .img-table .editor-container {
  position: relative;
  width: 685px;
  box-shadow: 0px 2px 41px 10px rgba(107, 130, 175, 0.1);
  border-radius: 8px;
  height: 600px;
}

@keyframes rotate {
  to { transform: rotate(360deg); }
}

.content-wrapper .img-table .editor-container .plugin-spinner {
  background: rgba(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 11111;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  user-select: none;
}

.content-wrapper .img-table .editor-container .plugin-spinner .loading {
  animation: rotate 1.2s linear infinite;
}

.content-wrapper .content .cyan-ellipse {
  position: absolute;
  width: 418px;
  height: 418px;
  left: -327px;
  top: 465px;
  background-color: #90eee7;
  filter: blur(300px);
  z-index: -1;
}

.filerobot-features {
  padding: 60px 25px;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
}

.filerobot-features .filerobot-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  line-height: 54px;
  font-size: 40px;
  color: #203254;
  max-width: 772px;
  text-align: center;
  margin-bottom: 32px;
}

.filerobot-features .filerobot-features-content {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  gap: 30px;
}

.filerobot-features .filerobot-features-content img {
  width: 100%;
  max-width: 370px;
}

.filerobot-features .filerobot-features-content h3 {
  margin: 16px 0 8px 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #203254;
  max-width: 370px;
}

.filerobot-features .filerobot-features-content p {
  color: #4d5c74;
  font-size: 16px;
  line-height: 24px;
  max-width: 370px;
}

.usage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 25px;
  background-color: #f1f8ff;
}

.usage ::-webkit-scrollbar {
  display: none;
}

.usage .usage-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usage .usage-title h3 {
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  color: #203254;
  margin-bottom: 12px;
}

.usage .usage-title p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #4d5c74;
  max-width: 970px;
  text-align: center;
}

.usage .usage-title p .documentation .colored-text {
  color: #3daba4;
}

.usage .usage-title p .documentation .colored-text a {
  font-weight: 600;
  font-size: 20;
  color: #3daba4;
  text-decoration: none;
}

.usage .version-buttons {
  margin-top: 44px;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.usage .version-buttons .version-button {
  margin-top: 44px;
  width: 15%;
  cursor: pointer;
  text-align: center;
}

.usage .version-buttons .js-version-btn,
[selected-tab=""] {
  border-bottom: 3px solid #3daba4;
  padding-bottom: 9px;
  text-align: center;
  transition: border 200ms ease-in-out;
}

.usage .js-version-code,
.react-version-code,
.CDN-version-code {
  position: relative;
  line-height: 22px;
  font-size: 14px;
  background-color: #ffff;
  width: 100%;
  margin-top: 1px;
  color: #4d5c74;
  overflow-x: auto;
  box-shadow: 0px 2px 41px 10px rgba(0, 103, 180, 0.05);
  border-radius: 4px;
}

.usage pre {
  overflow-x: scroll;
  scrollbar-width: none;
}

.usage .copy-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  right: 32px;
  top: 26px;
  cursor: pointer;
  z-index: 100;
  background-color: #ffff;
}

.usage .copy-wrapper img {
  width: 12.21px;
  height: 16px;
  margin-right: 4px;
}

.usage .copy-wrapper p {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  color: #4d5c74;
}

.usage .mobile-copy-button {
  display: none;
}

.usage .versions-text {
  line-height: 17px;
  font-size: 14px;
  font-family: "Inter";
}

.usage .versions-text .red {
  color: #cf222e;
}

.usage .versions-text .dark-red {
  color: #953800;
}

.usage .versions-text .green {
  color: #116329;
}

.usage .versions-text .light-blue {
  color: #8250df;
}

.usage .versions-text .blue {
  color: #0550ae;
}

.usage .versions-text .gray {
  color: gray;
}

.usage .versions-text .code-space {
  padding-left: 10px;
}

.usage .versions-text .code-two-spaces {
  padding-left: 20px;
}

.usage .versions-text .code-three-spaces {
  padding-left: 40px;
}

.usage .versions-text .code-four-spaces {
  padding-left: 60px;
}

.usage .adapters {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  max-width: 941px;
}

.usage .adapters h4 {
  font-size: 22px;
  line-height: 26.63px;
  font-weight: 600;
  color: #203254;
}

.usage .adapters .adapters-options {
  display: flex;
  margin-top: 24px;
  column-gap: 24px;
  border-bottom: 1px solid #dfe1ec;
  padding-bottom: 32px;
}

.usage .adapters .adapters-options .adapter-react-option {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #203254;
}

.usage .adapters .adapters-options .adapter-js-option {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #203254;
}

.usage .adapters .adapters-options .adapter-angular-option {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #5d6d7e;
}

.usage .adapters .adapters-options .adapter-vue-option {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #5d6d7e;
}

.usage .adapters .adapters-options .adapter-web-option {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #5d6d7e;
}

.usage .legend-content {
  display: flex;
  margin-top: 13px;
  width: 100%;
  column-gap: 20px;
  align-items: center;
  max-width: 941px;
}

.usage .legend-content .legend-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: #4d5c74;
}

.usage .legend-content .complete-feature {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #4d5c74;
}

.usage .legend-content .progress-feature {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #4d5c74;
}

.usage .legend-content .to-do-feature {
  display: flex;
  column-gap: 8px;
  align-items: center;
  size: 18px;
  line-height: 21.78px;
  color: #4d5c74;
}

.usage .explore-button {
  margin-top: 32px;
}

.usage .explore-button a {
  text-decoration: none;
  color: #ffff;
  background-color: #3daba4;
  padding: 14px 32.299px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.questions {
  position: relative;
  padding: 60px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions h3 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #203254;
}

.questions p {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #203254;
}

.questions span {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #203254;
}

.questions a {
  padding: 8px 32px 8px 32px;
  background-color: #3daba4;
  border-radius: 4px;
  color: #ffff;
  font-size: 16px;
  line-height: 32px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.questions button a {
  color: #ffff;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}

.questions .cyan-blur-ellipse {
  position: absolute;
  width: 158px;
  height: 243px;
  right: 0;
  top: 86px;
  background-color: #90eee7;
  filter: blur(150px);
}

.footer {
  position: relative;
  padding: 60px 25px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
}

.footer .accordion-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  display: none;
}

.footer button {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  font-weight: 700;
  border: none;
  background-color: #ffff;
  color: #000228;
  height: 24px;
  cursor: pointer;
}

.footer .filerobot-accordion {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer .accordion-content {
  margin-bottom: 10px;
  margin-top: 10px;
  display: none;
}

.footer .filerobot-accordion img {
  width: 14px;
  height: 8px;
  cursor: pointer;
  margin-left: 17px;
}

.footer .input-with-submit-button {
  position: relative;
}

.footer .navbar {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
  display: none;
  margin-top: 16px;
}

.footer .navbar .stars {
  border: 1px solid #5d6d7e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  height: 41px;
  width: 246px;
}

.footer .navbar .stars img {
  margin-right: 4px;
}

.footer .navbar .stars .star {
  width: 16px;
  height: 16px;
}

.footer .navbar .stars span {
  background-color: #f1f8ff;
  margin-left: 0.375em;
}

.footer .navbar .git-hub {
  border: 1px solid #5d6d7e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 0.875em;
  margin-left: 8px;
  text-decoration: none;
  cursor: pointer;
  color: #5d6d7e;
  width: 246px;
  height: 41px;
}

.footer .navbar .git-hub img {
  width: 14.53px;
  height: 16px;
  margin-right: 4px;
}

.footer .footer-logo {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 35.9vw;
  row-gap: 24px;
  color: #4d5c74;
  cursor: pointer;
}

.footer .footer-logo img {
  width: 170px;
  height: 42.26px;
}

.footer .footer-logo p {
  font-size: 16px;
  line-height: 24px;
}

.footer .footer-logo span {
  color: blue;
}

.footer .footer-logo a {
  text-decoration: none;
  color: blue;
}

.footer .footer-wrapper {
  display: flex;
  column-gap: 5.22vw;
}

.footer .footer-info {
  display: flex;
  flex-direction: column;
}

.footer .footer-info h4 {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #203254;
}

.footer .footer-info-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: #4d5c74;
  font-size: 16px;
  line-height: 19.36px;
}

.footer .footer-info-content a {
  text-decoration: none;
  color: #4d5c74;
  font-size: 16px;
  line-height: 19.36px;
}

.footer .footer-filerobot h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: #203254;
  margin-bottom: 24px;
}

.footer .footer-filerobot-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer .footer-filerobot-content a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19.36px;
  color: #4d5c74;
}

.footer .cyan-blur-ellipse {
  position: absolute;
  width: 123px;
  height: 278px;
  left: -150px;
  top: 0;
  background-color: #e1e5ff;
  filter: blur(120px);
}

.transition-filled-button {
  transition: all 300ms ease-in-out;
}

.transition-filled-button:hover {
  background-color: #35918a !important;
}

@media (min-width: 1980px) {
  .content-wrapper .header {
    margin: auto;
    max-width: 1550px;
  }

  .content-wrapper .content .content-text {
    max-width: 1150px;
  }

  .content-wrapper .img-table .table-configure {
    font-size: 16px;
    line-height: 32px;
  }

  .usage .adapters {
    display: flex;
    flex-direction: column;
    width: 82%;
    margin-top: 32px;
  }

  .footer .footer-wrapper {
    column-gap: 80px;
  }
}

@media (max-width: 1050px) {
  .content-wrapper .content .img-table {
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 30px;
  }

  .content-wrapper .img-table .config-table {
    width: 99%;
    height: unset;
  }

  .content-wrapper .img-table .editor-container {
    width: 100%;
  }

  .content-wrapper .img-table .config-table .img-container {
    max-width: 100%;
  }

  .content-wrapper .img-table .tools-checkboxs {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 8px;
    row-gap: 12px;
    flex-wrap: wrap;
  }

  .content-wrapper .img-table .tools-checkboxs .tabs-left-column {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 8px;
    row-gap: 12px;
    flex-wrap: wrap;
  }

  .content-wrapper .img-table .tools-checkboxs .tabs-right-column {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin-top: 8px;
    row-gap: 12px;
    flex-wrap: wrap;
  }

  .content-wrapper .img-table .tools-checkboxs::-webkit-scrollbar {
    display: none;
  }

  .content-wrapper .img-table .tools-checkboxs .draw-resize {
    display: flex;
    column-gap: 27px;
  }

  .content-wrapper .img-table .tools-checkboxs .resize {
    margin-bottom: 12px;
  }

  .content-wrapper .img-table .mode-content {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    align-items: center;
    margin-top: 30px;
  }

  .content-wrapper .img-table .mode-content h4 {
    margin-bottom: 0;
    margin-top: 0;
    width: 37px;
    margin-left: 4px;
  }

  .filerobot-features .filerobot-features-content {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 30px;
  }

  .usage .version-buttons .version-button {
    flex: 1;
    max-width: 146.33px;
    margin-top: 0;
  }
}

@media (max-width: 635px) {
  .footer {
    flex-direction: column;
  }

  .footer .footer-logo {
    width: 100%;
  }

  .footer .footer-wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 630px) {
  .content-wrapper .header .navbar {
    display: none;
  }
}

@media (max-width: 571px) {
  .container {
    margin: 0;
  }

  .content-wrapper {
    padding: 16px 16px;
  }

  .content-wrapper .content {
    align-items: flex-start;
  }

  .content-wrapper .content .content-title {
    text-align: left;
  }

  .content-wrapper .content .content-text p {
    text-align: left;
  }

  .content-wrapper .content .content-title span {
    display: unset;
  }

  .content-wrapper .content .view-button {
    justify-content: unset;
    column-gap: 8px;
  }

  .content-wrapper .content .view-button img {
    position: absolute;
    left: 313px;
    top: 4px;
  }

  .content-wrapper .content .img-table {
    margin-left: 0;
    row-gap: 30px;
  }

  .content-wrapper .content .blue-blur-ellipse {
    opacity: 0;
  }

  .content-wrapper .content .cyan-blur-ellipse {
    opacity: 0;
  }

  .content-wrapper .content .cyan-ellipse {
    display: none;
  }

  .filerobot-features {
    padding: 31.34px 16px 60px 16px;
    align-items: flex-start;
  }

  .filerobot-features .filerobot-title {
    font-size: 30px;
    line-height: 36.31px;
    text-align: start;
    margin-bottom: 16px;
  }

  .filerobot-features .filerobot-features-content {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    width: 100%;
    gap: 40px;
  }

  .filerobot-features .filerobot-features-content img {
    width: 100%;
    max-width: unset;
  }

  .filerobot-features .filerobot-features-content p {
    max-width: unset;
  }

  .content-wrapper .content .img-table {
    width: 100%;
  }

  .content-wrapper .img-table .tools-checkboxs {
    max-width: 470px;
  }

  .content-wrapper .img-table .tools-checkboxs .draw-resize {
    display: flex;
    column-gap: 27px;
    margin-left: 54px;
  }

  .content-wrapper .img-table .mode-content {
    margin-top: 23px;
  }

  .content-wrapper .img-table .config-table {
    width: 100%;
  }

  .content-wrapper .img-table .tools-checkboxs .tabs-left-column {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
    margin-top: 8px;
    flex-wrap: wrap;
    row-gap: unset;
  }

  .content-wrapper .img-table .tools-checkboxs .tabs-right-column {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
    margin-top: 8px;
    flex-wrap: wrap;
    row-gap: unset;
  }

  .usage {
    padding: 30px 16px 34px 16px;
    align-items: flex-start;
  }

  .usage .usage-title h3 {
    font-size: 30px;
    line-height: 54px;
    font-weight: 600;
    max-width: 327px;
  }

  .usage .usage-title {
    align-items: flex-start;
  }

  .usage .usage-title p {
    text-align: left;
    max-width: unset;
  }

  .usage .adapters .adapters-options {
    flex-direction: column;
    row-gap: 6px;
  }

  .usage .legend-content .legend-title {
    height: 29px;
    margin-bottom: 10px;
  }

  .usage .legend-content {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 6px;
    width: 97%;
  }

  .usage .js-version-code {
    width: 97%;
  }

  .usage .version-buttons {
    position: relative;
    width: 95%;
    height: 56px;
    margin-top: 20px;
  }

  .usage .mobile-copy-button {
    position: absolute;
    display: flex;
    align-items: center;
    right: -6px;
    top: 34px;
    cursor: pointer;
    z-index: 100;
  }

  .usage .mobile-copy-button img {
    width: 12.21px;
    height: 16px;
    margin-right: 4px;
  }

  .usage .mobile-copy-button p {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    color: #4d5c74;
  }

  .usage .copy-wrapper {
    display: none;
  }

  .usage .version-buttons .version-button {
    text-align: center;
    max-width: 77.33px;
    margin-top: 0;
    padding-top: 12px;
    overflow-y: hidden;
    height: 39px;
    margin-top: 18px;
  }

  .usage .adapters {
    margin-top: 64px;
    width: 97%;
  }

  .questions {
    padding: 60px 16px;
    align-items: flex-start;
  }

  .questions h3 {
    font-size: 10.604vw;
    text-align: left;
  }

  .questions p {
    text-align: left;
  }

  .questions .cyan-blur-ellipse {
    display: none;
  }

  .footer {
    display: block;
    padding: 16px;
  }

  .footer .accordion-wrapper {
    display: flex;
  }

  .footer .footer-logo {
    width: 100%;
    row-gap: 12px;
  }

  .footer .footer-logo p {
    width: 100%;
    line-height: 29px;
  }

  .footer .footer-wrapper {
    display: none;
  }

  .footer .navbar {
    display: flex;
  }
}
